aiosmtplib
annotated-types
anyio
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
cloudinary
decorator
dnspython
email_validator
exceptiongroup
fastapi
fastapi-mail
google
google-api-core
google-auth
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
h11
httpcore
httptools
httpx
idna
imageio
imageio-ffmpeg
Jinja2
MarkupSafe
numpy
pillow
proglog
proto-plus
protobuf
psycopg2-binary
pyasn1
pyasn1_modules
pydantic
pydantic-settings
pydantic_core
python-dateutil
python-dotenv
python-multipart
PyYAML
pytz
requests
rsa
six
sniffio
soupsieve
SQLAlchemy
starlette
tqdm
typing-inspection
typing_extensions
urllib3
uvicorn
uvloop; sys_platform != "win32"
watchfiles
websockets
